body {
  background: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  max-width: 600px;
  padding: 42px;
  margin: auto;
}

.app-title {
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.container {
  color: white;
  max-width: 500px;
  margin: auto;
  position: absolute;
  right: 35%;
  left:35%;
  background:rgb(102, 102, 92);
  color: #fff !important;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.Note{
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px;
}

.a{
    display: inline;
    margin: 0;
    border-radius: 0.4rem;
    padding: 10px;
}

.b{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    margin: 20px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
}